.goods_header_cont{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.goods_header_item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1vh 0;
  font-weight: bold;
  border: 1px solid #E0E0E0;
}

