.goods_header_cont{
  display: flex;
  width: 100%;
  padding: 0 48px 0 24px;
  height: 48px;
}

.goods_header_item{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.large_cont{
  width: 40%;
  justify-content: flex-start;
}

.middle_cont{
  width: 15%;
}

.small_cont{
  width: 10%;
}


