<div class="goods_header_cont">
  <!--<div class="goods_header_item" *ngFor="let property of propertyArray">-->
    <!--<span>{{property}}</span>-->
  <!--</div>-->

  <div class="goods_header_item large_cont">
    <span>Name</span>
  </div>
  <div class="goods_header_item small_cont">
    <span>Category</span>
  </div>
  <div class="goods_header_item small_cont">
    <span>Cost</span>
  </div>
  <div class="goods_header_item small_cont">
    <span>Primary cost</span>
  </div>
  <div class="goods_header_item small_cont">
    <span>Full SL</span>
  </div>
  <div class="goods_header_item small_cont">
    <span>On shelf amount</span>
  </div>
  <div class="goods_header_item small_cont">
    <span>Buys per day</span>
  </div>
</div>
